@import "https: //fonts.googleapis.com/css?family=lato: 100";

body{
	font-family: source sans pro;
	background: #282828;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: change 10s ease-in-out infinite;
	height: 100vh;
	position: relative;
}
@keyframes change{
	0%{
		background-position: 0 50%;}
	50%{
		background-position: 100% 50%;}
	100%{
		background-position: 0 50%;}
}

.container{
	border: 5px double black;
	margin: 5px;
	padding: 5px;
	font: bold 30px monospace;
	color: white;
	text-align: center;
}
.column{
	column-count: 4;
	column-gap: 100px;
}
.card{
background-color: green;
display: inline-block;
position: absolute;
height: 60px;
width: 60px;
float: left;
margin: 0 5px;
overflow: hidden;
border: #fff;
border-radius: 50px;
cursor: pointer;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease-out}

.container{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


h1 {
	font-weight: lighter;
	font-size: 90px ;
	color: #fff;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 0;
}

p{
	color: #fff;
	text-align: center;
	font-family: source sans pro, monospace;
	font-weight: lighter;
	font-size: 40px;
	margin-top: 0;
}
.media{
	position:absolute ;
	top: 40%;
	left: 50%;
	transform: translate(-53%, -50%);
}
a{
	list-style: none;
	margin: 10px 30px;
	display: inline-block;
	font-size: 20px;
	padding: 20px 20px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	transition: .5s ;
}

a:hover{
	color: #292929;
	border: 1px solid #292929;
	transition: .5s;

}